<div class="panel panel-default" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <div class="panel-heading">
        <div class="row">
            <h3 class="panel-title col-lg-8" style="margin-top: 8px;" th:text="#{title.inventory}">Inventory</h3>
            <div data-action="panel-buttons" class="col-lg-4 text-right text-primary">
                <b class="glyphicon glyphicon-move"></b><!--<b class="glyphicon glyphicon-remove"></b>-->
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th th:text="#{device.name}">Name</th>
                <th th:text="#{device.type}">Type</th>
                <th th:text="#{device.protocol}">Protocol</th>
                <th th:text="#{device.status}">Status</th>
            </tr>
            </thead>
            <tbody>
            {{#each content}}
            <tr valign="middle" onclick="window.location = '/inventory/show/{{id}}'">
                <td>{{name}}</td>
                <td style="text-transform: capitalize;">{{specification.name}} [{{specification.driverType}}]</td>
                <td style="text-transform: capitalize;">{{specification.protocolType}}</td>
                <td style="text-transform: capitalize;">
                    {{#equal driver.status 'OK'}}<a rel="button" href="/inventory/show/{{id}}" class="btn btn-xs btn-success col-xs-6"><span class="glyphicon glyphicon-zoom-in"></span> {{driver.status}}</a>{{/equal}}
                    {{#equal driver.status 'WARN'}}<a rel="button" href="/inventory/show/{{id}}" class="btn btn-xs btn-warning col-xs-6"><span class="glyphicon glyphicon-zoom-in"></span> {{driver.status}}</a>{{/equal}}
                    {{#equal driver.status 'ERROR'}}<a rel="button" href="/inventory/show/{{id}}" class="btn btn-xs btn-danger col-xs-6"><span class="glyphicon glyphicon-zoom-in"></span> {{driver.status}}</a>{{/equal}}
                    {{#equal driver.status 'UNKNOWN'}}<a rel="button" href="/inventory/show/{{id}}" class="btn btn-xs btn-default col-xs-6"><span class="glyphicon glyphicon-zoom-in"></span> {{driver.status}}</a>{{/equal}}
                </td>
            </tr>
            {{else}}
            <tr valign="middle">
                <td colspan="4" class="alert alert-info" role="alert">The Inventory is void.</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class=" col-lg-6 text-center">
                {{#pagination number totalPages size}}
                <ul class="pagination" style="margin:0">
                    {{#unless startFromFirstPage}}
                    <li><a href="/inventory/devices" onclick="loadPagedData(this.href, {{previousPage}}, 5, fillInventory);return false;">&laquo;</a></li>
                    {{/unless}}

                    {{#each pages}}
                    {{#if isCurrent}}
                    <li class="active"><a href="#" onclick="return false;">{{page}}</a></li>
                    {{/if}}
                    {{#unless isCurrent}}
                    <li><a href="/inventory/devices" onclick="loadPagedData(this.href, {{pageIndex}}, 5, fillInventory);return false;">{{page}}</a></li>
                    {{/unless}}
                    {{/each}}

                    {{#unless endAtLastPage}}
                    <li><a href="/inventory/devices" onclick="loadPagedData(this.href, {{nextPage}}, 5, fillInventory);return false;">&raquo;</a></li>
                    {{/unless}}
                </ul>
                {{/pagination}}
            </div>
            <div class="col-lg-6">
                <form class="form-inline" th:action="@{/repo/search/inventory}" action="#" role="form" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search inventory..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
