<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body">
        <h3>{{properties.status.title}}: <span class="label label-default">{{properties.status.enum}}</span></h3>
    </div>
</div>