<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="head"></head>
<body ng-controller="DashboardController">
<header th:include="navbar" class="navbar navbar-inverse navbar-static-top" role="navigation"></header>

<section class="container">
    <div id="system-alert" class="alert alert-info alert-dismissible" role="alert" th:if="${alert != null}">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <span th:text="${alert}"><strong>Warning!</strong> Better check yourself, you're not looking too good.</span>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div id="dashboard-commands" class="col-md-12 text-right text-primary">
           <!--<b class="glyphicon glyphicon-th"></b><b class="glyphicon glyphicon-cog"></b>--><b class="glyphicon glyphicon-edit"></b>
        </div>
    </div>
    <div class="row" id="dashboard">
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Settings</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group-vertical">
                    <div class="radio">
                        <label>
                            <input type="radio" name="layout" id="optionsRadios1" value="0" checked="checked"/>
                            2 rows, 2 column 100% and 2 columns 50% 50%
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="layout" id="optionsRadios2" value="1"/>
                            1 row, 2 columns 50% 50%
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="layout" id="optionsRadios3" value="2"/>
                            1 row, 2 columns 40% - 60%
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add widgets</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer th:include="footer"></footer>
<section th:replace="scripts"></section>
<script  type="text/javascript" th:src="@{/webjars/jquery-ui/1.11.1/jquery-ui.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery-ui/1.11.1/jquery-ui.js"></script>
<script  type="text/javascript"  th:src="@{/js/ems.dashboard.js}" src="../public/js/ems.dashboard.js"></script>
<script type="text/javascript" th:inline="javascript">
var latitude = [[${configuration.map_latitude}]];
var longitude = [[${configuration.map_longitude}]];
</script>
</body>
</html>