<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="head"/>
<body>
<header th:include="navbar" class="navbar navbar-inverse navbar-static-top" role="navigation"/>

<section class="container-fluid">
    <div id="system-alert" class="alert alert-info alert-dismissible" role="alert" th:if="${alert != null}">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <span th:text="${alert}"><strong>Warning!</strong> Better check yourself, you're not looking too good.</span>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{title.map}">Map view</h3>
                </div>
                <div id="map" style="height: 520px;"></div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{title.inventory}">Inventory</h3>
                </div>
                <div class="panel-body" id="search-div">
                    <form class="form-horizontal" th:action="@{/inventory/search}" action="#" role="form" method="get">
                    <label for="search-inventory" class="col-sm-offset-2 col-lg-4 control-label">Search Inventory:</label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input id="search-inventory" type="text" class="form-control"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div></form>
                </div>
                <div id="inventory-placeholder"></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="#{title.log}">Event log</h3>
                </div>
                <div id="log-placeholder"></div>
            </div>
        </div>
    </div>
</section>

<footer th:include="footer"/>
<section th:replace="scripts"/>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        map = new GMaps({
            div: '#map',
            mapType: "satellite",
            zoom: 5,
            lat: [[${configuration.map_latitude}]],
            lng: [[${configuration.map_longitude}]]
        });
    });
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    $(document).ready(function () {
        $('#search-div').toggle();
        var devices = $.getJSON('/inventory/devices');
        devices.done(fillMap);
        loadPagedData('/inventory/devices', 0, 5, fillInventory);
        loadPagedData('/inventory/events', 0, 5, fillEventLogs);
    });
    /* ]]> */
</script>
</body>
</html>