<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="head"/>

<body>
<header th:include="navbar" class="navbar navbar-inverse navbar-static-top" role="navigation"/>
<section class="container">
    <div class="page-header">
        <h1 th:text="'Error '+${status}">Error</h1>
    </div>
    <div id="created" th:text="${#dates.format(timestamp)}">July 11,
        2012 2:17:16 PM CDT</div>
    <div>
        There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).
    </div>
    <div th:text="${message}">Fake content</div>
    <div>
        Please contact the operator with the above information.
    </div>
</section>

<footer th:include="footer"/>
<section th:replace="scripts"/>

</body>
</html>