<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content="Marco Bazzoni"/>
    <link rel="icon" th:href="@{/favicon.ico}" href="../public/favicon.ico"/>

    <title>EMS - Enterprise Monitoring System</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.1.0/css/bootstrap.min.css}" href="../public/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/webjars/html5shiv/3.7.2/html5shiv.js}" src="../public/js/html5shiv.js"></script>
    <![endif]-->
</head>
