<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="head"/>

<body>
<header th:include="navbar" class="navbar navbar-inverse navbar-static-top" role="navigation"/>
<section class="container">
    <div th:if="${param.logout}" class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Information!</strong> You have been logged out.
    </div>

    <div th:if="${param.error}" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Attention!</strong> There was an error, please try again.
    </div>
    <form class="form-horizontal col-md-8 col-md-offset-2" role="form" th:action="@{/login}" action="#" method="POST">
        <div class="form-group">
            <legend style="text-align:center;">Login to EMS</legend>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="username" id="inputEmail" placeholder="Username"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember-me" name="remember-me"/> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary">Sign in</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </form>
</section>

<footer th:include="footer"/>
<section th:replace="scripts"/>

</body>
</html>