<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="head"/>

<body>
<header class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" href="/">EMS</a>
        </div>
        <div class="collapse navbar-collapse">
        </div><!--/.nav-collapse -->
    </div>
</header>
<section class="container">
    <p th:if="${param.logout}" class="alert">You have been logged out</p>

    <div th:if="${param.error}" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Warning!</strong> There was an error, please try again.
    </div>
    <form class="form-horizontal" role="form" th:action="@{/login}" action="#" method="POST" style="width:500px; margin:0 auto;">
        <div class="form-group">
            <legend style="text-align:center;">Login to EMS</legend>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="username" id="inputEmail" placeholder="Username"/>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-5">
                <button type="submit" class="btn btn-primary">Sign in</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </form>
</section>

<footer th:include="footer"/>
<section th:include="scripts"/>
</body>
</html>