<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="head"/>
<body>
<header th:include="navbar" class="navbar navbar-inverse navbar-static-top" role="navigation"/>

<section th:if="${#httpServletRequest.requestURI == '/mktg/about'}" class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">About</h3>
        </div>
        <div class="panel-body">
            <h1>EMS - Enterprise Monitoring System</h1>

            EMS is an SCADA / HMI server intended to monitor remote devices
        </div>
    </div>
</section>
<section th:if="${#httpServletRequest.requestURI == '/mktg/contact'}" class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Contact</h3>
        </div>
        <div class="panel-body">
            <address>
                <strong>---</strong><br/>
                <strong>Marco Bazzoni</strong><br/>
                795 Folsom Ave, Suite 600<br/>
                San Francisco, CA 94107<br/><br/>
                <abbr title="Web Site">WWW: </abbr><a href="http://baznet.net">www.baznet.net</a><br/>
                <abbr title="Email Address">@: </abbr><a href="mailto:marco.bazzoni@baznet.net">marco.bazzoni@baznet.net</a><br/>
                <abbr title="Mobile Phone">M: </abbr> (123) 456-7890
            </address>
        </div>
    </div>
</section>
<section th:if="${#httpServletRequest.requestURI == '/mktg/contents'}" class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Help contents</h3>
        </div>
        <div class="panel-body">
            <h1>EMS - Enterprise Monitoring System</h1>

            Help
        </div>
    </div>
</section>

<footer th:include="footer"/>
<section th:replace="scripts"/>

</body>
</html>