<div xmlns:th="http://www.thymeleaf.org">
    <script  type="text/javascript" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script  type="text/javascript" th:src="@{/webjars/bootstrap/3.1.0/js/bootstrap.min.js}" src="../public/js/bootstrap.js"></script>
    <script  type="text/javascript" th:src="@{/webjars/momentjs/2.8.1/min/moment.min.js}" src="../public/js/moment.js"></script>
    <script  type="text/javascript" th:src="@{/js/handlebars.min.js}" src="../public/js/handlebars.js"></script>
    <script  type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script  type="text/javascript"  th:src="@{/js/gmaps.js}" src="../public/js/gmaps.js"></script>
    <script  type="text/javascript"  th:src="@{/js/ems.utils.js}" src="../public/js/ems.utils.js"></script>
</div>

