<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="head"/>
<body>

<header th:include="navbar" class="navbar navbar-inverse navbar-static-top" role="navigation"/>

<section class="container" th:unless="${#lists.isEmpty(allSpecifications)}">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{title.specification.list}">List of</h3>
        </div>
        <div class="panel-body" th:if="${warning}">
            <div id="system-alert" class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <span th:text="${warning}"><strong>Warning!</strong> Better check yourself, you're not looking too good.</span>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th th:text="#{specification.name}">Name</th>
                    <th th:text="#{specification.driver}">Driver</th>
                    <th th:text="#{specification.protocol}">Protocol</th>
                    <th th:text="#{specification.actions}" colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aSpecification : ${allSpecifications}" valign="middle">
                    <td th:text="${aSpecification.name}">Name</td>
                    <td th:text="${aSpecification.driverType}" style="text-transform: capitalize;">Driver</td>
                    <td th:text="${aSpecification.protocolType}" style="text-transform: capitalize;">Protocol</td>

                    <td><form class="form-inline" role="form" th:action="@{/specifications/} + ${aSpecification.id}" action="#" method="GET">
                        <button type="submit" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span> <span th:text="#{specification.edit}">Edit</span></button>
                    </form></td><td><form class="form-inline" role="form" th:action="@{/specifications/} + ${aSpecification.id}" action="#" method="POST">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit" class="btn btn-danger btn-xs" value="delete"><span class="glyphicon glyphicon-trash"></span> <span th:text="#{specification.delete}">Delete</span></button>
                    </form></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-center">
            <ul class="pagination" style="margin:0">
                <li th:class="${allSpecifications.number eq 0} ? 'disabled' : ''">
                    <a th:if="${not allSpecifications.first}" th:href="@{${'specifications'}(page=${allSpecifications.number-1},pageSize=${allSpecifications.size})}">&laquo;</a>
                </li>

                <li th:each="pageNo : ${#numbers.sequence(0, allSpecifications.totalPages - 1)}" th:class="${allSpecifications.number eq pageNo}? 'active' : ''">
                    <a th:if="${allSpecifications.number  eq pageNo}" href="javascript:void(0);" th:text="${pageNo + 1}">
                        1
                    </a>
                    <a th:if="${not (allSpecifications.number  eq pageNo)}" th:href="@{${'specifications'}(page=${pageNo},pageSize=${allSpecifications.size})}" th:text="${pageNo + 1}">
                        1
                    </a>

                </li>
                <li th:class="${allSpecifications.number + 1 ge allSpecifications.totalPages} ? 'disabled' : ''">
                    <a th:if="${not allSpecifications.last}" th:href="@{${'specifications'}(page=${allSpecifications.number+1},pageSize=${allSpecifications.size})}">&raquo;</a>
                </li>
            </ul>

        </div>
    </div>
</section>
<section class="container" th:if="${process != null}">
    <form class="form-horizontal col-xs-12 col-sm-6 col-md-8 col-md-offset-2" role="form" th:action="@{/specifications}" th:object="${specification}" action="#" method="POST">
        <input type="hidden" name="_method" value="PUT" th:if="${process == 'edit'}"/>
        <div class="form-group">
            <legend style="text-align:center;" th:text="#{specification.data}">Specification Data</legend>
        </div>

        <input type="hidden" th:field="*{id}" th:if="${process == 'edit'}"/>

        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label" th:text="#{specification.name}">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" th:field="*{name}" th:errorclass="has-error"/>
            </div>
        </div>
        <div class="form-group" th:if="${locked == false}">
            <label for="driver" class="col-sm-2 control-label" th:text="#{specification.driver}">Driver</label>
            <div class="col-sm-10">
                <select type="text" class="form-control" id="driver" th:field="*{driverType}" th:errorclass="has-error" style="text-transform: capitalize;">
                <option th:each="type : ${allDriverTypes}"
                            th:value="${type}"
                            th:text="${type}">Type</option>
                </select>
            </div>
        </div>
        <div class="form-group has-feedback" th:if="${locked == true}">
            <label class="col-sm-2 control-label" th:text="#{specification.driver}">Driver</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{driverType}" th:errorclass="has-error" style="text-transform: capitalize;" readonly="readonly"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group" th:if="${locked == false}">
            <label for="protocol" class="col-sm-2 control-label" th:text="#{specification.protocol}">Protocol</label>
            <div class="col-sm-10">
                <select type="text" class="form-control" id="protocol" th:field="*{protocolType}" th:errorclass="has-error" style="text-transform: capitalize;">
                    <option th:each="type : ${allProtocolTypes}"
                            th:value="${type}"
                            th:text="${type}">Type</option>
                </select>
            </div>
        </div>
        <div class="form-group has-feedback" th:if="${locked == true}">
            <label class="col-sm-2 control-label" th:text="#{specification.protocol}">Protocol</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{protocolType}" th:errorclass="has-error" style="text-transform: capitalize;" readonly="readonly"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary" th:text="#{specification.create}" th:if="${process == 'create'}">Add Specification</button>
                <button type="submit" class="btn btn-success" value="put" th:text="#{specification.edit}" th:if="${process == 'edit'}">Edit Specification</button>
                <!--<button type="reset" class="btn btn-danger">Cancel</button>-->
            </div>
        </div>
    </form>
</section>

<footer th:include="footer"/>
<section th:replace="scripts"/>
<!--<script type="application/javascript">
    $.get("/drivers/modulator.json", function(data) {
        var json = JSON.parse(data);
        if(json.type === "object") {
            $.get("/template/object", function(template) {
                var t = Handlebars.compile(template);
                //$("#view").append(t(json));
                console.log(t(json));
            });
        }
    });
</script>-->
</body>
</html>