<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="head"/>
<body>
<header th:include="navbar" class="navbar navbar-inverse navbar-static-top" role="navigation"/>

<section class="container">
    <form class="form-inline" role="form" th:action="@{/tasks/}" action="#" method="GET">
        <div class="form-group">
            <select name="id" class="form-control input-sm">
                <option th:each="var : ${allDevices}" th:value="${var.id}" th:text="${var.name}">Device</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default btn-sm" value="delete"><span class="glyphicon glyphicon-ok"></span> <span th:text="#{task.select.device}">Select</span></button>
    </form>    
</section>
<section class="container" th:unless="${#lists.isEmpty(allEntries)}">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title" th:text="#{title.task.list}">List of</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th th:text="#{task.variable}">Variable</th>
                    <th th:text="#{task.delay}">Delay</th>
                    <th th:text="#{task.frequency}">Frequency</th>
                    <th th:text="#{task.recurrent}">Recurrent</th>
                    <th th:text="#{task.actions}">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aTask : ${allEntries}" valign="middle">
                    <td th:text="${aTask.variable}">Variable</td>
                    <td th:text="${aTask.delay}">Delay</td>
                    <td th:text="${aTask.frequency}">Frequency</td>
                    <td th:text="${aTask.recurrent? 'true' : 'false'}">Recurrent</td>
                    <td><form class="form-inline" role="form" th:action="@{/tasks/} + ${aTask.id}" action="#" method="POST">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit" class="btn btn-danger btn-xs" value="delete"><span class="glyphicon glyphicon-trash"></span> <span th:text="#{user.delete}">Delete</span></button>
                    </form></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="container">
    <form class="form-horizontal col-md-8 col-md-offset-2" role="form" th:action="@{tasks}" th:object="${task}" action="#" method="POST">
        <input type="hidden" name="_method" value="PUT"/>
        <div class="form-group">
            <legend style="text-align:center;" th:text="#{task.data}">Task Data</legend>
        </div>

        <input type="hidden" id="id" th:field="*{id}"/>
        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
        </div>
        <div class="form-group">
            <label for="variable" class="col-sm-2 control-label" th:text="#{task.variable}">Variable</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="variable" th:field="*{variable}" th:errorclass="has-error"/>
            </div>
        </div>
        <div class="form-group">
            <label for="frequency" class="col-sm-2 control-label" th:text="#{task.frequency}">Frequency</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="frequency" th:field="*{frequency}" th:errorclass="has-error"/>
            </div>
        </div>
        <div class="form-group">
            <label for="delay" class="col-sm-2 control-label" th:text="#{task.delay}">Delay</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="delay" th:field="*{delay}" th:errorclass="has-error"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="form-control" id="recurrent" th:field="*{recurrent}" th:errorclass="has-error"/>
                        <span th:text="#{task.recurrent}">Recurrent</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary" value="put" th:text="#{task.create}">Create Task</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </form>
</section>

<footer th:include="footer"/>
<section th:replace="scripts"/>
</body>
</html>